{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
  <title>内容引擎</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-dialog-yellow/jquery-ui-1.10.1.custom.min.css"></link>
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#add_game').click(function(){
        window.location.href = '/games/add/';
        return false;
      });
      $('#add_redier').click(function(){
        window.location.href = '/rediers/add/';
        return false;
      });
      $("#dialog").dialog({
        autoOpen: false,
        modal: true,
        dialogClass: 'no-close'
      });
      $(".del-btn").click(function(e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");

        $("#dialog").dialog({
          buttons : {
            "删除" : function() {
              window.location.href = targetUrl;
            },
            "取消" : function() {
              $(this).dialog("close");
            }
          }
        });

        $("#dialog").dialog("open");
      });
    });
  </script>
</head>
<body>
   <div class="main">
     <div class="banner">
        <div class="logo">每日精品游戏</div>
        <div class="share"><a href="http://127.0.0.1/sina/auth">新浪微博登陆</a></div>
     </div>
     <div class="content">
        <div class="addor">
            <div id="add_game" class="add-btn">
              <span>精品游戏推荐</span>
            </div>
            <div id="add_redier" class="add-btn">
              <span>小兵变大咖</span>
            </div>
        </div>
        <div class="list">
           <div class="app-grid">
             <div class="app-grid-header">
                <span>精品游戏推荐</span>
             </div>
             {% render_table games %}
           </div>
           <div class="app-grid">
             <div class="app-grid-header">
               <span>小兵变大咖</span>
             </div>
             {% render_table rediers %}
           </div>
        </div>
     </div>
   </div>
   <div id="dialog" title="确认删除？">
    <span style="margin:16px;">请三思而后行啊！你删除了其他人也看不见了！</span>
   </div>
</body>
