{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
  <title>内容引擎</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
   <div class="main">
     <div class="banner">
        <div class="logo">每日精品游戏</div>
        <div class="share"><a href="http://127.0.0.1/sina/auth">新浪微博登陆</a></div>
     </div>
     <div class="content">
        <div class="addor">
            <div id="add_hotgames" class="add-btn">
              <span>精品游戏推荐</span>
            </div>
            <div id="add_gamerediers" class="add-btn">
              <span>小兵变大咖</span>
            </div>
        </div>
        <div class="list">
           <div class="app-grid">
             <div class="app-grid-header">
                <span>精品游戏推荐</span>
             </div>
             {% render_table hotgames %}
           </div>
           <div class="app-grid">
             <div class="app-grid-header">
               <span>小兵变大咖</span>
             </div>
             {% render_table gamerediers %}
           </div>
        </div>
     </div>
   </div>
</body>
