/*@font-face{
  font-family: "Wandoujia";
  src: url(roboto-italic.ttf);
}*/


*{
	padding: 0;
	margin: 0;
/*        -webkit-font-smoothing: antialiased;
*/
}
body{
    background-color: #eee;
    color: #444;
    text-shadow: 0px 1px 2px  #fff;    
}

em {
	color: #abc826;
        font-style: normal;
}
.container {
	width: 440px;
	margin: auto;
	background-image: url(bg_03.png);
}


.portrait img{
    width: 49%;
}
.landscape img{
    width: 440px;
}

#screenShots{
    width: 440px;
    margin: 10px;
    padding: 4px;
    background: url(lefttop.png) no-repeat left top,
    url(rightbottom.png) no-repeat right bottom ,
    #ececec;
}
/*#screenShots img{
	max-width: 206px;
	margin: 0;
	padding: 0;
}*/


footer {
	background-image: url(footer.png) ;
	height: 50px;
	width: 440px;
	margin-top: 30px;
}




