<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    </meta>
    <title>collection</title>
    <link rel="stylesheet" type="text/css" href="css/collection.css">
    </link>

</head>
<body onload='load()'>
<div id="container">
    <div class="head"></div>
    <div>
        <img class="cover" src="collection_cover_image"></img>
        <div class="triangle"></div>
        <div class="title">
            <span style="margin-left:40px;">游戏合集&nbsp;之</span><span style="margin-left:20px;">collection_title</span>
        </div>
    </div>
    <table class="games">
        <tr>
            collection_game
        </tr>
    </table>
    <div class="bottom"></div>
</div>
<script>
    var load = function() {
        var problem_img = document.getElementById("game_img");
        var img = new Image();
        var container = document.getElementById('container');
        img.src = problem_img.src;

        container.style.width = img.width + "px";
    };
</script>
</body>
</html>