<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        </meta>
        <title>game</title>
        <link rel="stylesheet" type="text/css" href="css/game.css">
        </link>

    </head>
    <body onload='load()'>
        <div id="container">
            <div class="head"></div>
            <div class="screenshots">
                <img id="screenshot_1" src="game_screenshot_1"></img>
                <img id="screenshot_2" src="game_screenshot_2"></img>
                <img id="screenshot_3" src="game_screenshot_3"></img>
                <img id="screenshot_4" src="game_screenshot_4"></img>
            </div>
            <div class="bottom"></div>
        </div>
        <script>
            var load = function() {
                var image1 = document.getElementById("screenshot_1");
                var image2 = document.getElementById("screenshot_2");
                var image3 = document.getElementById("screenshot_3");
                var image4 = document.getElementById("screenshot_4");
                var img1 = new Image();
                var img2 = new Image();
                var img3 = new Image();
                var img4 = new Image();
                var container = document.getElementById('container');
                img1.src = image1.src;
                img2.src = image2.src;
                img3.src = image3.src;
                img4.src = image4.src;

                if(img1.width > img1.height){
                    container.className = 'landscape';
                } else {
                    container.className = 'portrait'
                }
            };
        </script>
    </body>
</html>
