<!DOCTYPE html>
<html>
<head>
  <title>添加/编辑游戏推荐</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#cancel').click(function(){
        history.back();
        return false;
      });
      $('#save').click(function(){
        $('#add_game_form').submit();

        return false;
      });
    });
    $(function() {
        AjaxUploadWidget.autoDiscover({
          "changeButtonText" : "修改图片",
          "removeButtonText" : "删除图片"
        });
    });
  </script>
  {% include "ga.html" %}
  {{ form.media }}
</head>
<body>
  <div id="main" class="container edit-page">
    {% include "header.html" %}

    <ul class="breadcrumb">
      <li><a href="/">内容引擎</a> <span class="divider">/</span></li>
      <li class="active">添加/精品游戏推荐</li>
    </ul>

    <form id="add_game_form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <div class="navbar" style="margin-bottom:0;">
        <div class="navbar-inner">
          <p class="navbar-text">游戏信息</p>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr><th>{{ form.name.label }}</th><td>{{ form.name }}{{ form.name.errors }}</td></tr>
          <tr><th>{{ form.icon.label }}</th><td>{{ form.icon }}{{ form.icon.errors }}</td></tr>
          <tr><th>{{ form.description.label }}</th><td>{{ form.description }}{{ form.description.errors }}</td></tr>
          <tr><th>{{ form.category.label }}</th><td>{{ form.category }}{{ form.category.errors }}</td></tr>
          <tr><th>标签</th>
            <td>{{ form.tags }}<span class="help-inline">{{ form.tags.help_text }}</span>{{ form.tags.errors }}
            </td></tr>
          <tr><th>{{ form.rating.label }}</th><td>{{ form.rating }}{{ form.rating.errors }}</td></tr>
          <tr><th>{{ form.size.label }}</th><td>{{ form.size }}{{ form.size.errors }}</td></tr>
          <tr><th>{{ form.android_download_url.label }}</th><td>{{ form.android_download_url }}{{ form.android_download_url.errors }}</td></tr>
          <tr><th>{{ form.iOS_download_url.label }}</th><td>{{ form.iOS_download_url }}{{ form.iOS_download_url.errors }}</td></tr>
          <tr><th>{{ form.screenshot_path_1.label }}</th><td>{{ form.screenshot_path_1 }}{{ form.screenshot_path_1.errors }}</td></tr>
          <tr><th>{{ form.screenshot_path_2.label }}</th><td>{{ form.screenshot_path_2 }}{{ form.screenshot_path_2.errors }}</td></tr>
          <tr><th>{{ form.screenshot_path_3.label }}</th><td>{{ form.screenshot_path_3 }}{{ form.screenshot_path_3.errors }}</td></tr>
          <tr><th>{{ form.screenshot_path_4.label }}</th><td>{{ form.screenshot_path_4 }}{{ form.screenshot_path_4.errors }}</td></tr>
          <tr><th>{{ form.video_url.label }}</th><td>{{ form.video_url }}<span class="help-inline">{{ form.video_url.help_text }}</span>{{ form.video_url.errors }}</td></tr>
        </tbody>
      </table>
      {% include "recommendation_section.html"%}
      {% include "save_cancel_section.html"%}
    </form>
  </div>
</body>
