<!DOCTYPE html>
<html>
<head>
  <title>添加/编辑小兵变大咖</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timers-1.2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.taggit.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#cancel').click(function(){
        window.location.href = "/";
        return false;
      });
      $('#save').click(function(){
        $('#add_redier_form').submit();

        return false;
      });
      taggit = $( "#id_tags" ).taggit( { tag_selector: "#suggested-tags .taggit-tag" } );
    });
    $(function() {
        AjaxUploadWidget.autoDiscover({
          "changeButtonText" : "修改图片",
          "removeButtonText" : "删除图片"
        });
    });
  </script>
  {{ form.media }}
</head>
<body>
    <div id="main" class="container edit-page">
      {% include "header.html" %}
      
      <ul class="breadcrumb">
        <li><a href="/">内容引擎</a> <span class="divider">/</span></li>
        <li class="active">添加/编辑小兵变大咖</li>
      </ul>

      <form id="add_redier_form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="navbar" style="margin-bottom:0;">
          <div class="navbar-inner">
            <p class="navbar-text">攻略信息</p>
          </div>
        </div>
        <table class="table">
          <tbody>
            <tr><th>{{ form.game.label }}</th><td>{{ form.game }}{{ form.game.errors }}</td></tr>
            <tr><th>{{ form.title.label }}</th><td>{{ form.title }}{{ form.title.errors }}</td></tr>
            <tr><th>标签</th>
              <td>{{ form.tags }}<span class="help-inline">{{ form.tags.help_text }}</span>{{ form.tags.errors }}
                <ul id="suggested-tags">
                  {% for tag in tags %}
                    <li class="taggit-tag">{{ tag.name }}</li>
                  {% endfor %}
                </ul>
              </td></tr>
            <tr><th>{{ form.redier_image.label }}</th><td>{{ form.redier_image }}<span class="help-inline">{{ form.redier_image.help_text }}</span>{{ form.redier_image.errors }}</td></tr>
          </tbody>
        </table>
        {% include "recommendation_section.html"%}
        {% include "save_cancel_section.html"%}
      </form>
    </div>
   <div>
</body>
