<!DOCTYPE html>
<html>
<head>
    <title>添加/编辑“游戏情报站”</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#cancel').click(function(){
                history.back();
                return false;
            });
            $('#save').click(function(){
                $('#add_game_advice_form').submit();

                return false;
            });
        });
        $(function() {
            AjaxUploadWidget.autoDiscover({
                "changeButtonText" : "修改图片",
                "removeButtonText" : "删除图片"
            });
        });
    </script>
    {{ form.media }}
</head>
<body>
<div id="main" class="container edit-page">
    {% include "header.html" %}

    <ul class="breadcrumb">
        <li><a href="/">内容引擎</a> <span class="divider">/</span></li>
        <li class="active">添加/编辑“游戏情报站”</li>
    </ul>

    <form id="add_game_advice_form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">游戏情报站</p>
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr><th>{{ form.title.label }}</th><td>{{ form.title }}{{ form.title.errors }}</td></tr>
            <tr><th>{{ form.advice_image.label }}</th><td>{{ form.advice_image }}<span class="help-inline">{{ form.advice_image.help_text }}</span>{{ form.advice_image.errors }}</td></tr>
            </tbody>
        </table>
        {% include "game_advices_section.html"%}
        {% include "save_cancel_section.html"%}
    </form>
</div>
</body>
