{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
  <title>内容引擎</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="wb:webmaster" content="f0737ecc6d43a725" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootbox.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".btn-del").click(function(e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");

        bootbox.dialog("请三思而后行，你删除了之后其他人也看不见了>_<！",[{
          "label": "删除",
          "class": "btn-danger",
          "callback": function(){
            window.location.href = targetUrl;
          }
        }, {
          "label": "取消",
        }], {
          "header": "确定删除？"
        });
      });

      $('#nav-tab1 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#nav-tab2 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#nav-tab3 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#nav-tab4 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      {% if not user.is_authenticated %}
        bootbox.dialog("使用新浪微博登录之后，才能进行添加、删除、编辑操作。",[{
          "label": "不登录了，随便看看",
        }, {
          "label": "新浪微博登录",
          "class": "btn-primary",
          "callback": function(){
            window.location.href = "/login/weibo";
          }
        }], {
          "header": "新浪微博登录"
        });
      {% endif %}
    });
  </script>
</head>
<body>
  <div id="main" class="container list-page">
    {% include "header.html" %}

    <div class="btn-group" style="margin-bottom:20px;">
      <a class="btn dropdown-toggle btn-primary btn-large" data-toggle="dropdown" href="#">
        <i class="icon-plus icon-white"></i>
        新增内容
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/players/add?next={{request.get_full_path}}">新增我是玩家</a></li>
        <li><a href="/news/add?next={{request.get_full_path}}">新增游戏情报站</a></li>
        <li><a href="/weixinmsgs/add?next={{request.get_full_path}}">新增微信消息</a></li>
        <li><a href="/games/add?next={{request.get_full_path}}">新增游戏推荐</a></li>
        <li><a href="/collections/add?next={{request.get_full_path}}">新增游戏合集</a></li>
        <li><a href="/rediers/add?next={{request.get_full_path}}">新增小兵变大咖</a></li>
        <li><a href="/problems/add?next={{request.get_full_path}}">新增“宅，必有一技”</a></li>
      </ul>
    </div>

    <div class="btn-group" style="margin-bottom:20px;">
      <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
        <i class="icon-plus"></i>
        新增营销活动
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/puzzles/add?next={{request.get_full_path}}">新增趣题</a></li>
        <li><a href="/gift/add?next={{request.get_full_path}}">新增礼品分类</a></li>
        <li><a href="/gift_item/add?next={{request.get_full_path}}">新增礼品</a></li>
      </ul>
    </div>

    <div class="btn-group" style="margin-bottom:20px;">
      <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
        <i class="icon-plus"></i>
        新增智能互动
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/weixin/dialogs/add?next={{request.get_full_path}}">新增基本对话</a></li>
        <li><a href="http://weixin.bestgames7.com/weixin/load" target="_blank">加载缓存数据</a></li>
      </ul>
    </div>

    <div class="btn-group" style="margin-bottom:20px;">
      <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
        <i class="icon-wrench"></i>
        小工具
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/tools/url2icon" target="_blank">获取苹果图标和截图</a></li>
      </ul>
    </div>

    <div id="nav-tab" class="tabbable">
      <ul class="nav nav-tabs">
        <li id="nav-tab1" class="active"><a href="#tab1" data-toggle="tab">内容运营</a></li>
        <li id="nav-tab2"><a href="#tab2" data-toggle="tab">营销活动</a></li>
        <li id="nav-tab3"><a href="#tab3" data-toggle="tab">智能互动</a></li>
        <li id="nav-tab4"><a href="#tab4" data-toggle="tab">其他</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">我是玩家</p>
            </div>
          </div>
          {% render_table player "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">游戏情报站</p>
            </div>
          </div>
          {% render_table news "django_tables2/table.html" %}
          
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">微信消息</p>
            </div>
          </div>
          {% render_table weixin "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <span class="navbar-text">游戏推荐</span>
              <form class="form-search navbar-search pull-right">
                <div class="input-append">
                  <input type="text" class="span2 search-query" placeholder="搜索精品游戏推荐" name="hg_q" value="{{ request.GET.hg_q }}">
                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          {% render_table games "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">游戏合集</p>
            </div>
          </div>
          {% render_table collections "django_tables2/table.html" %}
        </div>
      
        <div class="tab-pane" id="tab2">
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">趣题</p>
            </div>
          </div>
          {% render_table puzzles "django_tables2/table.html" %}
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">礼品类型</p>
            </div>
          </div>
          {% render_table gift "django_tables2/table.html" %}
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">礼品</p>
            </div>
          </div>
          {% render_table gift_item "django_tables2/table.html" %}
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">兑奖记录</p>
            </div>
          </div>
          {% render_table user_gift "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">微信用户</p>
            </div>
          </div>
          {% render_table weixin_user "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
                <p class="navbar-text">答题记录</p>
            </div>
          </div>
          {% render_table user_answer "django_tables2/table.html" %}
        </div>
        <div class="tab-pane" id="tab3">
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <span class="navbar-text">基本对话</span>
              <form class="form-search navbar-search pull-right">
                <div class="input-append">
                  <input type="text" class="span2 search-query" placeholder="搜索机器人基本对话" name="bd_q" value="{{ request.GET.bd_q }}">
                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          {% render_table dialog "django_tables2/table.html" %}
        </div>
        <div class="tab-pane" id="tab4">
          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">小兵变大咖</p>
            </div>
          </div>
          {% render_table rediers "django_tables2/table.html" %}

          <div class="navbar" style="margin-bottom:0;">
            <div class="navbar-inner">
              <p class="navbar-text">宅，必有一技</p>
            </div>
          </div>
          {% render_table problems "django_tables2/table.html" %}
        </div>
      </div>
    </div>
  </div>
</body>
