{% load filters %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ game.name }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <style type="text/css">
    .portrait .screenshots img{
        width: 50%;
    }

    .landscape .screenshots img{
        width: 100%;
    }

    .portrait .screenshots img:nth-child(even){
      margin-left: -4px;
    }
  </style>
  <script>
    var load = function() {
      var image1 = document.getElementById("screenshot_1");
      var image2 = document.getElementById("screenshot_2");
      var image3 = document.getElementById("screenshot_3");
      var image4 = document.getElementById("screenshot_4");
      var img1 = new Image();
      var img2 = new Image();
      var img3 = new Image();
      var img4 = new Image();
      var container = document.getElementById('container');
      img1.src = image1.src;
      img2.src = image2.src;
      img3.src = image3.src;
      img4.src = image4.src;

      if(img1.width > img1.height){
          container.className = 'landscape';
      } else {
          container.className = 'portrait'
      }
    };
  </script>
  {% include "ga.html" %}
</head>
<body onload="load()" id="container" style="padding:10px;">
  <h4>{{game.brief_comment}} - {{game.name}}</h4>
  <div class="screenshots">
    <img id="screenshot_1" src="http://weixin.bestgames7.com/media/{{game.screenshot_path_1}}" alt="">
    <img id="screenshot_2" src="http://weixin.bestgames7.com/media/{{game.screenshot_path_2}}" alt="">
    <img id="screenshot_3" src="http://weixin.bestgames7.com/media/{{game.screenshot_path_3}}" alt="">
    <img id="screenshot_4" src="http://weixin.bestgames7.com/media/{{game.screenshot_path_4}}" alt="">
  </div>
  {% if game.video_url %}
  <br />
  <iframe style="padding:10px 0;" src="{{ game.video_url }}" frameborder=0 allowfullscreen></iframe>
  {% endif %}
  <p style="margin:10px 0;">{{game.recommended_reason|del_link}}</p>
  <div style="margin:20px 0;text-align:center">
    {% if game.android_download_url %}
      <a class="btn btn-large" href="{{game.android_download_url}}" style="margin-right:10px;">下载安卓版</a>
    {% else %}
      <a class="btn btn-large disabled" href="#" style="margin-right:10px;">无安卓版</a>
    {% endif %}
    {% if game.iOS_download_url %}
      <a class="btn btn-large" href="{{game.iOS_download_url}}">下载苹果版</a>
    {% else %}
      <a class="btn btn-large disabled" href="#">无苹果版</a>
    {% endif %}
  </div>
</body>
