<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">推荐信息</p>
    </div>
</div>
<table class="table">
    <tbody>
    <tr><th>{{ form.presenter.label }}</th><td>{{ form.presenter }}{{ form.presenter.errors }}</td></tr>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simplyCountable.js"></script>
    <tr><th>{{ form.sync_timestamp2.label}}</th><td>{{ form.sync_timestamp2 }}{{ form.sync_timestamp2.errors }} </td></tr>
    </tbody>
</table>