body {
	padding:8px;
}

.puzzle {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 8px;
	padding-bottom: 8px;
	background-color: #f6f6f6;
	margin-bottom: 8px;
}

.puzzle .title {
	padding-right:30px;
}

.puzzle span {
	line-height: 30px;
}

.puzzle-badge {
	width: 30px;
	height: 30px;
	float: right;
}

.badge-ing {
	background: url('../img/badge-ing.png') center no-repeat;
}

.badge-correct {
	background: url('../img/badge-correct.png') center no-repeat;
}

.badge-incorrect {
	background: url('../img/badge-incorrect.png') center no-repeat;
}