body{
    background-color: #eee;
    color: #444;
    margin: 0;
}
#right p {
    line-height:15px;
}
#right img {
    margin-right:15px;
}


#container_head{width:480px;background-color:#f6f6f6;margin:0;height:160px}


#left{width:165px;float:left;padding:15px 0px 0px 15px;background-color:#f6f6f6;height:160px;margin:0;}


#right{background-color:##f6f6f6;float:left;text-align:left;height:160px;}


#container_body{width:480px;background-color:#f6f6f6;margin-top:-2px;padding-top:5px;}

#container_bottom{width:480px;background-color:#f6f6f6}

.right_picture {
       float:left;      
}

