body{
    background-color: #eee;
    color: #444;
    margin: 0;
}

#container.portrait4{
	width: 640px;
}

#container.landscape{
	width: 480px;
}

.landscape .head{
	background: url(../img/head-landscape.jpg) no-repeat;
	width: 480px;
	height: 116px;
}

.portrait4 .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 640px;
	height: 350px;
	margin-top: -2px;
}

.landscape .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 480px;
	height: 350px;
	margin-top: -2px;
}

.portrait4 .screenshots img{
    width: 49%;
}

.landscape .screenshots img{
    width: 100%;
}
