body{
    background-color: #eee;
    color: #444;
    margin: 0;
}

#container.portrait1{
	width: 480px;
}

#container.portrait2{
	width: 480px;
}

#container.portraint3{
	width: 480px;
}

#container.portraint4{
	width: 960px;
}

#container.landscape{
	width: 480px;
}

.portrait1 .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 100%;
	height: 350px;
	margin-top: -2px;
}

.portrait2 .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 480px;
	height: 350px;
	margin-top: -2px;
}

.portrait3 .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 480px;
	height: 350px;
	margin-top: -2px;
}

.portrait4 .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 100%;
	height: 350px;
	margin-top: -2px;
}
.landscape .bottom{
	background: #e96b55 center url(../img/bottom.png) no-repeat;
	width: 100%;
	height: 350px;
	margin-top: -2px;
}

.portrait1 .screenshots img{
    width: 100%;
}

.portrait2 .screenshots img{
	width: 100%;
}

.portrait3 .screenshots img{
	width: 100%;
}

.portrait4 .screenshots img{
	width: 49%;
}

.landscape .screenshots img{
    width: 100%;
}
