body{
    background-color: #eee;
    color: #444;
}

img{
	padding:0;
	margin:0;
    margin-left: -4px;
    margin-right: -4px;
}

#container.portrait{
	width: 640px;
	margin: auto;
}

#container.landscape{
	width: 480px;
	margin: auto;
}

.portrait .screenshots img{
    width: 49%;
}

.landscape .screenshots img{
    width: 100%;
}

.portrait .screenshots img:nth-child(even){
	margin-left: -4px;
	margin-right: -4px;
}





